registry: ghcr.io
use_private_registry: false
telemetry: true
storage:
    image: <username>/sbomscanner/storage
controller:
    image: <username>/sbomscanner/controller
worker:
    image: <username>/sbomscanner/worker
