apiVersion: sbomscanner.kubewarden.io/v1alpha1
kind: WorkloadScanConfiguration
metadata:
  name: default
spec:
  artifactsNamespace: sbomscanner
  namespaceSelector:
    matchLabels:
      sbomscanner.kubewarden.io/workloadscan: "true"
  scanInterval: 1h
  scanOnChange: true
  platforms:
    - arch: amd64
      os: linux
    - arch: arm64
      os: linux
