name: CI

on:
  workflow_call:
  push:
  pull_request:

# Declare default permissions as read only.
permissions: read-all

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: "go.mod"
      - uses: ./.github/actions/free-up-disk-space
      - run: make test
      - name: Upload unit-tests coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          name: unit-tests
          directory: coverage
          flags: unit-tests
          verbose: true
          token: ${{ secrets.CODECOV_REPO_TOKEN }}

  helm-unittest:
    name: Helm unittest
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4.3.1
      # Disable plugin verification until the following issue is addressed https://github.com/helm-unittest/helm-unittest/issues/777
      - name: Install Helm-unittest
        run: helm plugin install https://github.com/helm-unittest/helm-unittest --verify=false
      - run: make helm-unittest

  golangci:
    name: Golangci-lint
    runs-on: ubuntu-latest
    env:
      # Needed by trivy > 0.67.x
      GOEXPERIMENT: "jsonv2"
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: "go.mod"
      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: v2.5.0

  commitlint:
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - name: Discover latest version of commitlint
        id: discover-commitlint-version
        run: |
          latest_version=$(curl -s https://api.github.com/repos/conventional-changelog/commitlint/releases/latest | jq -r '.tag_name')
          echo "version=$latest_version" >> $GITHUB_OUTPUT
        shell: bash
      - name: Cache commitlint
        id: cache-commitlint
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: |
            node_modules
            package.json
            package-lock.json
          key: ${{ runner.os }}-commitlint-${{ steps.discover-commitlint-version.outputs.version }}
      - name: Install commitlint
        if: steps.cache-commitlint.outputs.cache-hit != 'true'
        run: npm install -D @commitlint/cli @commitlint/config-conventional
      - name: Print versions
        run: |
          git --version
          node --version
          npm --version
          npx commitlint --version
      - name: Validate PR commits with commitlint
        run: npx commitlint --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }} --verbose

  verify-generated-code-changes:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: "go.mod"
      - name: Verify generated code changes
        run: ./hack/check-for-auto-generated-changes.sh
